<ion-header>
  <ion-toolbar color="success">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
    <div class="center">
      <IMG class="displayed" src="assets/chat.png" >
    </div>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input autocomplete="off" type="text" name="username" [(ngModel)]="usuario.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input autocomplete="off" type="password" name="password" [(ngModel)]="usuario.senha"></ion-input>
      </ion-item>

      <ion-item lines='none'>
        <a routerLink='/cadastro'>Criar uma conta</a>
      </ion-item>
    </ion-list>
    <ion-button expand="block" share="round" color="success" (click)="LoginUsuario()" routerLink='/home'>Login</ion-button>
  </form>
</ion-content>