IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

ion-content {
    --background: #ffff00 url('../../assets/background.png') no-repeat center center / cover !important;
}