<ion-header>

  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div class="center">
    <IMG class="displayed" src="assets/chat.png" >

    <div class=container1>
      <p>Bem vindo ao ChatApp!
    </div>

    <div class="btnconversas">
        <ion-button [routerLink]="['/usuarios']" routerDirection="forward" color="success">Conversas</ion-button> 
    </div>
  
    <div class="btnsair">
        <ion-button (click)="Logout()" color="success">Sair</ion-button> 
    </div>
  </div>

</ion-content>

